body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @responsive {
    .text-shadow {
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    }

    .text-shadow-md {
      text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
    }

    .text-shadow-lg {
      text-shadow: 0 15px 30px rgba(0, 0, 0, 0.11), 0 5px 15px rgba(0, 0, 0, 0.08);
    }

    .text-shadow-none {
      text-shadow: none;
    }
  }
}

@layer components {
  .navlink-active {
    @apply font-bold text-zinc-50 text-shadow;
  }
  .navlink {
    @apply font-bold hover:navlink-active text-zinc-300 hover:text-shadow;
  }
  .profiles-header-contact-details {
    @apply flex items-center justify-between w-full;
  }
  .profiles-header-summary-item {
    @apply flex flex-col w-full text-center;
  }
  .profiles-header-summary-item-right {
    @apply border-l-2 profiles-header-summary-item border-white/10;
  }
  .profiles-header-summary-item-title {
    @apply font-bold text-zinc-50;
  }
  .markdown-component li {
    @apply list-disc ml-4
  }
  hr {
    @apply border-black/10
  }
}
